.navig{
    display: flex;
    justify-content: space-between;
}
.first-menu{
    font-size: 20px;
    margin-top: 13px;
    margin-left: 15px;
    width: 7%;
    display: flex;
    justify-content: space-between;
}
.second-menu{
    font-size: 20px;
    width: 20%;
    margin-right: 5px;
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}
.links{
    text-decoration: none;
    color: black;
    padding-top: 5px;
}
.signin{
    margin-top: 5px;
    font-size: 14px;
    width: 4.4rem;
    height: 1.9rem;
    background-color: rgb(96, 96, 222);
    color: white;
    border: none;
    border-radius: 2px;
}
.menu-img{
    opacity: .5;
    width: 40px;
    height: 40px;
}
.mid-parent{
    height: 1000px;
    width: 100%;
    padding-top: 8rem;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 33%;
    height: 45px;
    border-radius: 30px;
    margin-top: 25px;
}
.mid-bttns{
    width: 22%;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    margin-bottom: 8px ;
}
.search{
    font-size: 15px;
    height: 2.4rem;
    width: 10rem;
    border-radius: 5px;
    background-color: rgb(191, 191, 191);
    color: rgb(91, 90, 90);
    border: none;
    transition: color .2s;
}
.search:hover{
    color: black;
}




